/* This one comes straight from IndieWeb */

body {
  margin: 0;
  padding: 50px;

  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;

  background-image: url("/IndieWeb/resources/paper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* optional: keeps background steady */
}

h1 {
  color: #005aac;
}

input[type="text"],
button {
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  width: 250px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

.container {
  background-color: #a0a0a0;
}

.navbar {
  display: flex;
  gap: 10px;
  background-image: url('/IndieWeb/resources/wood.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
}

.bounding-box {
  background-color: #c0c0c0;
  font-family: monospace;
}
